<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woshen.mapper.MenuMapper">

    <!--    <insert id="addTable" parameterType="com.example.demo.entity.Table">-->
    <!--        insert into tb (name,age,sex) values(#{params.name},#{params.age},#{params.sex})-->
    <!--    </insert>-->


</mapper>
