<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/layui/layui.js"  type="text/javascript"></script>
    <script src="/static/js/publicUtils.js" type="text/javascript"></script>
    <script src="/static/js/common.js" type="text/javascript"></script>
    <link href="/static/layui/css/layui.css" rel="stylesheet">
    <title >菜单列表</title>
    <style>
       .main-body{
           padding: 18px;
       }
    </style>
</head>
<body class="main-body">
<form class="layui-form" action="/user/list" id="dataForm" >
    <input id="pageIndex" name="pageInfo.pageIndex" th:value="${queryData?.pageInfo?.pageIndex}" type="hidden">
    <input id="pageSize" name="pageInfo.pageSize" th:value="${queryData?.pageInfo?.pageSize}" type="hidden">
    <input id="pageTotal"  th:value="${pageData.total}" type="hidden">
    <div class="layui-form-item query-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-inline">
                <input type="text" th:name="id"   th:value="${queryData.id}" autocomplete="off" class="layui-input" oninput="this.value=this.value.replace(/[^\d]/g,'')" onproperty="this.value=this.value.replace(/[^\d]/g,'')" maxlength="11">
            </div>
        </div>
            <div class="layui-inline">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" th:name="name"   th:value="${queryData.name}" autocomplete="off" class="layui-input" >
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">用户账号</label>
                <div class="layui-input-inline">
                    <input type="text" th:name="loginId"   th:value="${queryData.loginId}" autocomplete="off" class="layui-input" >
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-inline">
                    <input type="text" th:name="mobilePhone"   th:value="${queryData.mobilePhone}" autocomplete="off" class="layui-input" oninput="this.value=this.value.replace(/[^\d]/g,'')" onproperty="this.value=this.value.replace(/[^\d]/g,'')" maxlength="11">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                    <input type="text" th:name="nickeName"   th:value="${queryData.nickeName}" autocomplete="off" class="layui-input" >
                </div>
            </div>

        <div class="layui-inline">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" name="queryParam['createStartTime']" id="createStartTime"  autocomplete="off"   th:value="${queryData?.queryParam['createStartTime']}" class="layui-input" >
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline">
                <input type="text" name="queryParam['createEndTime']" id="createEndTime" th:value="${queryData?.queryParam['createEndTime']}"  autocomplete="off" class="layui-input" >
            </div>
        </div>
            <div class="layui-inline">
                <label class="layui-form-label">更新时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="queryParam['updateStartTime']" id="updateStartTime"   th:value="${queryData?.queryParam['updateStartTime']}" autocomplete="off" class="layui-input" >
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline">
                    <input type="text" name="queryParam['updateEndTime']" id="updateEndTime"  th:value="${queryData?.queryParam['updateEndTime']}" autocomplete="off" class="layui-input" >
                </div>
            </div>
        <div class="layui-inline">
            <div id="searchPrefix"  class="layui-btn layuiadmin-btn-list" >
                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </div>
            <button id="search" style="display: none" class="layui-btn layuiadmin-btn-list" lay-submit  lay-filter="search">
            </button>
        </div>
        </div>


    </div>

</form>
<table class="layui-table" id="tableList" lay-size="lg"  lay-filter="tableList"  >
    <thead>
    <tr>
        <th lay-data="{field:'left',type:'checkbox',algin:'center'}"></th>
        <th lay-data="{field:'id'}">ID</th>
        <th lay-data="{field:'name'}">用户名</th>
        <th lay-data="{field:'loginId'}">用户账号</th>
        <th lay-data="{field:'mobilePhone'}">手机号</th>
        <th lay-data="{field:'nickeName'}">昵称</th>
        <th lay-data="{field:'email'}">电子邮箱</th>
        <th lay-data="{field:'headImg'}">头像</th>
        <th lay-data="{field:'password'}">密码</th>
        <th lay-data="{field:'createTime'}">创建时间</th>
        <th lay-data="{field:'updateTime'}">更新时间</th>
        <th lay-data="{fixed:'right',title:'操作', width:200, align:'center',toolbar: '#tool'}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item:${pageData.records}">
        <td></td>
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.loginId}"></td>
        <td th:text="${item.mobilePhone}"></td>
        <td th:text="${item.nickeName}"></td>
        <td th:text="${item.email}"></td>
        <td th:text="${item.headImg}"></td>
        <td th:text="${item.password}"></td>
        <td th:text="${#temporals.format(item.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${#temporals.format(item.updateTime,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td></td>
    </tr>
    </tbody>
</table>
<div id="page"></div>
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-xs " lay-event="add">新增</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="dels">删除</a>
</script>

<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-xs " lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs " lay-event="role">授予角色</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs " lay-event="del">删除</a>
</script>



</body>
<script type="text/javascript">
    layui.use(['form','laydate','table','laypage'],function () {
          var laydate = layui.laydate;

        laydate.render(
            {
                elem:'#createStartTime',
                type:'datetime'
            })
        laydate.render(
            {
                elem:'#createEndTime',
                type:'datetime'
            })
        laydate.render(
            {
                elem:'#updateStartTime',
                type:'datetime'
            })
        laydate.render(
            {
                elem:'#updateEndTime',
                type:'datetime'
            })
        renderList("列表","user");
    });



    function tableToolEvent(table,obj) {
       let data = obj.data;
        switch (obj.event) {
           case "role":
               top.tabAdd(tabFilter,"manage-role-0",'授权角色',"/user/managerRole??lastLayId="+currTabLayId+"&userId="+data.id);
               break;
        }
    }

    function tableToolBarEvent(table,obj) {

    }
</script>
</html>