<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        ">

       <context:property-placeholder location="classpath:application.properties" ignore-unresolvable="true"/>

    <!--自动注入-->
    <mvc:annotation-driven conversion-service="conversionService">
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>

            <!--防止返回json下载文件-->
            <ref bean="jackson2HttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <bean id="jackson2HttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes" >
            <list>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean"/>

    <!--开启注解注入-->
     <context:annotation-config></context:annotation-config>

     <!--扫描controller bean-->
     <context:component-scan base-package="com.woshen.acl.controller" use-default-filters="false" scoped-proxy="targetClass">
         <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
     </context:component-scan>
<!--

    <bean id="htmlViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".html"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="order" value="0"/>
    </bean>
-->
<!--    <bean id="requestMappingHandlerAdapter" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" >
    <property name="messageConverters">
        <list>
            <ref bean="jackson2HttpMessageConverter"/>
        </list>
    </property>
    </bean>-->



    <!--静态资源配置-->
     <mvc:resources mapping="/static/**" location="/WEB-INF/static/" />


    <!--直接跳转到视图，不经过controller层-->
   <!-- <mvc:view-controller path="/view/*.html"></mvc:view-controller>-->



    <!--返回内容的媒体类型-->
    <bean id="contentNegotiationManager"  class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorParameter" value="true" />
        <property name="ignoreAcceptHeader" value="false"/>
        <property name="parameterName" value="format"/>
        <property name="defaultContentType" value="text/html"/>
        <property name="mediaTypes">
            <value>
                json=appliaction/json
                xml=application/xml
                html=text/html
            </value>
        </property>
    </bean>



    <!--<bean  id="contentNegotiatingViewResolver" class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="contentNegotiationManager" ref="contentNegotiation"/>
    </bean>-->

    <!--freeMarker视图解析器-->
    <!--<bean id="freeMarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver" >
        <property name="suffix" value=".html" />
        <property name="contentType" value="text/html;charset=UTF-8"/>
    </bean>-->

    <!-- thymeleaf模板解析器 旧 -->
 <!--   <bean id="templateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
        <constructor-arg ref="servletContext"/>
        <property name="prefix" value="/WEB-INF/view/" />
        <property name="suffix" value=".html" />
        <property name="templateMode" value="HTML5" />
        <property name="cacheable" value="false" />
        <property name="characterEncoding" value="UTF-8"/>
    </bean>-->
    <!-- thymeleaf模板解析器 新 -->
    <bean id="templateResolver" class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="/WEB-INF/view/" />
        <property name="suffix" value=".html" />
        <property name="templateMode" value="HTML5" />
        <property name="cacheable" value="false" />
        <property name="characterEncoding" value="UTF-8"/>
    </bean>

    <!--java8时间方言-->
    <bean id="java8TimeDialect" class="org.thymeleaf.extras.java8time.dialect.Java8TimeDialect" />

    <!--模板引擎-->
    <bean id="templateEngine" class="org.thymeleaf.spring5.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver" />
        <property name="additionalDialects" ref="java8TimeDialect"/>
    </bean>

    <!--thymeleaf视图解析器-->
   <!-- <bean id="thymeleafViewResolver" class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine" />
        <property name="characterEncoding"  value="UTF-8" />
        <property name="staticVariables" >
            <props>
                <prop key="BASE_ADMIN_DOMAIN">www-test.acl.woshen.com</prop>
            </props>
        </property>
    </bean>-->

    <!--文件上传必须-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8" />
        <property name="maxUploadSize" value="10240"/>
        <property name="maxInMemorySize" value="4096"/>
        <property name="resolveLazily" value="true"/>
    </bean>


    <!--freemarker 配置-->
   <!-- <bean id="configuration" class="freemarker.template.Configuration">
        <property name="dateFormat" value="yyyy-MM-dd"/>
        <property name="locale" value="zh_CN"/>
        <property name="dateTimeFormat" value="yyyy-MM-dd HH:mm:ss"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>-->
    <!--freemarker 配置-->
    <!--<bean id="freeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPaths" >
            <list>
                <value>/WEB-INF/view/</value>
                <value>classpath:/META-INF/resources/WEB-INF/view/</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">10</prop>
                <prop key="locale">zh_CN</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>&lt;!&ndash; 时间格式化 &ndash;&gt;
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="number_format">#.##</prop>
            </props>
        </property>
    </bean>-->

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/static/**" />
            <mvc:exclude-mapping path="/login" />
            <mvc:exclude-mapping path="/doLogin" />
            <mvc:exclude-mapping path="/loadCode" />
            <mvc:exclude-mapping path="/acl/**" />
            <mvc:exclude-mapping path="/index" />
            <mvc:exclude-mapping path="/loadMenu" />
            <mvc:exclude-mapping path="/getPassword" />
            <mvc:exclude-mapping path="/error"/>
            <mvc:exclude-mapping path="/unAuth"/>
            <mvc:exclude-mapping path="/loginOut"/>
            <mvc:exclude-mapping path="/modifyPassword"/>
            <bean id="aclAuthInterceptor" class="com.woshen.acl.common.interceptors.AclAuthInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
    <!--在所有的handlemapping之后生效，必须在<mvc:annotation-driven>之后-->
    <!--<mvc:default-servlet-handler />-->
</beans>